Source: ros-lyrical-ament-cmake-black
Section: misc
Priority: optional
Maintainer: Tyler Weaver <tylerjw@gamil.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake-copyright <!nocheck>, ros-lyrical-ament-cmake-core, ros-lyrical-ament-cmake-lint-cmake <!nocheck>, ros-lyrical-ament-cmake-test, ros-lyrical-ament-cmake-xmllint <!nocheck>, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/ament_cmake_black/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-ament-cmake-black
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-ament-black, ros-lyrical-ament-cmake-test, ros-lyrical-ros-workspace
Description: The CMake API for ament_black to lint Python code using black.
